@{
    ViewData["Title"] = "Delete a role";
}

<link rel="stylesheet" href="~/css/login.css">

@model UserRolesViewModel

<div class="container justify-content-center mt-4" style="display: flex; flex-wrap: wrap; width: 1200px;">
<form method="post" class="form-control-sm" style="width: 500px;">
        <div class="container border p-3 mt-4 rounded-3 justify-content-center" style="background-color: ghostwhite;">
        <div asp-validation-summary="All"></div>

        <input type="hidden" asp-for="@Model.UserId" />

        <div class="mb-3">
                <h4 class="text-primary text-center"> Specify which Role name to delete </h4>
            <hr />
            <input type="text" asp-for="@Model.UserRole" class="form-control" />
        </div>

        <div class="container text-center justify-content-evenly mt-4">
        <button type="submit" class="btn btn-primary" style="width:150px"> Delete Role </button>
        <a asp-action="Roles" asp-controller="Admin" class="btn btn-secondary style="width:150px"> Back to User Roles </a>
        </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
